.title New Board
.container
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @board, url: boards_path, method: 'post', local: true) do |f|
    %div
      = f.label :name, 'ボードの名前'
    %div
      = f.text_field :name, class: 'text'
    %div
      = f.label :description, '説明'
    %div
      = f.text_area :description
    = f.submit 'Submit', class: 'btn-primary'
