!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todoapp2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header.header
      = link_to '家事分担アプリ', boards_path, class: 'header-logo', method: :get
      - if user_signed_in?
        .dropdown
          = image_tag current_user.avatar_image, class: 'header_avatar dropbtn'
          .dropdown-content
            = link_to 'プロフィール', profile_path, class: 'header_Btn'
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header_Btn'
      - else
        = link_to 'ログイン', new_user_session_path, class: 'header_Btn'
      %hr.header-line/
    = yield
